{% extends 'base.html.twig' %} {% block body %}
<h1>Product edit</h1>

{{ form_start(edit_form) }} {{ form_widget(edit_form) }}
<input type="submit" class="btn btn-dark btn-sm" value="Edit" /> {{ form_end(edit_form) }}

<ul>
    <li>
        <a class="btn btn-info btn-sm" href="{{ path('admin_product_index') }}">Back to the list</a>
    </li>
    <li>
        {{ form_start(delete_form) }}
        <input class="btn btn-danger btn-sm" type="submit" value="Delete"> {{ form_end(delete_form) }}
    </li>
</ul>
{% endblock %}