{% extends 'base.html.twig' %} {% block body %}

<a href="{{ path('logout') }}">Logout</a>
<h1>Listes des produits</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Pictureurl</th>
            <th>Prix</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>
                <a href=" {{ path( 'admin_product_show', { 'id': product.id }) }} " style="color :#222">{{ product.id }}</a></td>
            <td>{{ product.nom }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.pictureUrl }}</td>
            <td>{{ product.price }}</td>
            <td>
                <ul>
                    <li>
                        <a class="btn btn-info btn-sm" href=" {{ path( 'admin_product_show', { 'id': product.id }) }} ">show</a>
                    </li><br>
                    <li>
                        <a class="btn btn-warning btn-sm" href="{{ path( 'admin_product_edit', { 'id': product.id }) }} ">edit</a>
                    </li>

                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path( 'admin_product_new') }} ">Create a new product</a>
    </li>
</ul>
{% endblock %}