{% extends 'base.html.twig' %} {% block body %}
<h1>Product creation</h1>

{{ form_start(form) }} {{ form_widget(form) }}
<input type="submit" value="Create" class="btn btn-dark btn-sm" /> {{ form_end(form) }}

<ul>
    <li>
        <a href="{{ path('admin_product_index') }}">Back to the list</a>
    </li>
</ul>
{% endblock %}