{% extends 'base.html.twig' %} {% block body %}
<h1>Product</h1>

<table class="table table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ product.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ product.nom }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ product.description }}</td>
        </tr>
        <tr>
            <th>Pictureurl</th>
            <td>{{ product.pictureUrl }}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{ product.price }}</td>
        </tr>
    </tbody>
</table>


<a tyle="display: block-inline" class="btn btn-secondary btn-sm" href="{{ path('admin_product_index') }}">Back to the list</a>


<a tyle="display: block-inline" class="btn btn-dark btn-sm" href="{{ path('admin_product_edit', { 'id': product.id }) }}">Edit</a> {{ form_start(delete_form) }}<br>
<input style="display: block-inline" type=" submit " class="btn btn-danger btn-sm " value="Delete "> {{ form_end(delete_form) }} {% endblock %}